{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>{{title}}</title>{% endblock %}



{% block body %}

<body>

    <div class="container">

        <div class="mt-4">
            <h2 class="mb-4">{{title}}</h2>

            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/horizont.jpg' %}" class="" width="100%" alt="avatar">
                </div>
                <div class="col-10">
                    <h3>Связаться с нами</h3>
                    <form method="post">
                        {% csrf_token %}
                        <ul class="list-info">

                            {% with 'Е-майл Телефон Адрес Откликнуться' as items %}
                            {% for text in items.split %}
                            <div class="row">
                                <div class="d-flex">
                                    <div class="col-2">
                                        <li>{{text}}</li>
                                    </div>
                                    {% if text == 'Откликнуться' %}
                                    <div class="col-10"><textarea class="" placeholder=""></textarea>
                                        {% else %}
                                        <div class="col-10">
                                            <p>Какая-то информация</p>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                                {% endfor %}
                                {% endwith %}
                        </ul>
                        <button type="submit" class="btn primary-btn">Отправить</button>
                    </form>
                </div>



            </div>

        </div>
    </div>

</body>


{% endblock %}