{% load static %}
{% load tag_library %}

<div class="row d-flex align-content-center justify-content-center flex-wrap">

    {% for product in products %}
    <div class="col-md-3 product product-single">
        {% with prod_name=files|get_img:product.id %}
        <div class="product-thumb" style="height: 200px;   
                        background-image: url('{{ MEDIA_URL }}/{{prod_name.0}}'); 
                        background-repeat:no-repeat; background-position: center;">

            <a href="{% url 'main:details' id=product.id %}">
                <button class="main-btn quick-view"><i class=""></i> смотреть {{product.id}}</button>
            </a>
            
        </div>
        {% endwith %}

        {% with liked_it=liked|get_item:product.id %}
        <div class="product-body position-relative ">

            <div class="product-rating">
                <p>
                {% if product.votes != 0 %}
                    {% if liked_it %}
                    liked_it
                    {% endif %} 
                <i class="fa fa-star"> {{product.votes}}</i>

                {% else %} 
                <i class="fa fa-star-o empty"></i>
                {% endif %}   
                </p>
            </div>
            <div class="text-wrap text-break">
                <h3 class="product-price">{{product.title}}</h3>
            </div>

            <div class="product-btns">
                <div class="w-100">
                {% if user.is_authenticated %}
                <button class="main-btn icon-btn {% if liked_it %} liked-btn {% endif %}" {% if liked_it %}  {% else %} onClick="starRecipe({{product.id}});"{% endif %} ><i class="fa fa-heart"></i></button>
                <!-- <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button> -->
                {% endif %}
                автор: {{product.author.account.nickname}}</div>
            </div>
        </div>
        {% endwith %}   
    </div>
    {% endfor %}


</div>
