{% load static %}
<div class="row d-flex align-content-center justify-content-center flex-wrap">

    {% for product in products %}
    <div class="col-md-3 product product-single">
        {% with prod_name='img/'|add:product.img %}
        <div class="product-thumb" style="height: 200px;   
                        background-image: url('{{ MEDIA_URL }}/{{product.img}}');">

            <a href="{% url 'details' id=product.id %}">
                <button class="main-btn quick-view"><i class=""></i> смотреть {{product.id}}</button>
            </a>
            
        </div>
        {% endwith %}
        <div class="product-body position-relative ">

            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
            </div>
            <div class="text-wrap text-break">
                <h3 class="product-price">{{product.title}}</h3>
            </div>

            <div class="product-btns">
                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
