
{% extends 'main/base.html' %}


{% block body %}
{% block title %}<title> Главная страница </title>{% endblock %}

<body>
    <h1>{{title}}</h1>
    <div class="links-div">
        <a href="about/">about</a>
        <a href="contacts/">contacts</a>
        <a href="sidebar/">sidebar</a>



        <li>
            {% for n in lst %}
            <ul>{{n}}</ul>
            {% endfor %}
        </li>


        <div>
            <form method="post">
                {% csrf_token %}
                <h3> Выберите название товара:</h3>
                <input type="text" name="title" placeholder="название товара"><br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>




    </div>
</body>
{% endblock %}