{% extends 'main/base.html' %}


{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
  
    <div class="row links-div">
        <div class="col-9"></div>
        <div class="col-3">
            <form method="post">
                {% csrf_token %}
                <h5> Выберите название товара:</h5>
                <div>
                    <div> 
                <input type="text" name="title" placeholder="название товара"><br>
                <button type="submit" class="btn primary-btn">Поиск</button>
            </div>
                </div>
            </form>
        </div>
    </div>

    {% include 'main/image_rows.html' %}

</body>
{% endblock %}