{% extends 'main/base.html' %}


{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
    <div clss="container p-0">
        <div class="flex-row bg-color-light">
            <!-- <div class="col-9"></div> -->
            <div class="">
                <form method="post">
                    {% csrf_token %}
                    
                        <div>
                            <div class="d-flex justify-content-start"><a href="{% url 'main:top' %}">Посмотреть топ юзеров</a></div>
                            <div class="d-flex justify-content-end">
                                <input type="text" name="title" placeholder="ищу рецепт">
                                <button type="submit" class="btn primary-btn">Поиск</button>
                            </div>
                        </div>
                    
                </form>
            </div>
        </div>
        <div class="flex-row bg-color-light">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <!-- bootstrap alert -->
        <!-- <strong>{{ message }}</strong> -->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" data-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>

    <div clss="container p-0">
    <div class="flex-row bg-color-light">
        {% if search_res %}
        <h4>Результаты поиска по запросу: {{search_res}}</h4>
        {% endif %}
    </div>
    </div>
    

    {% include 'main/image_rows.html' %}

</body>
{% endblock %}