{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>{{title}}</title>{% endblock %}

{% block body %}

<body>

    <div class="container">

        <div class="mt-4">
            <h2 class="mb-4">{{title}}</h2>

                <div class="row">
                    <div class="col-2"> 
                    </div>

                    <div class="col-8">
                       
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-info">

                                {% with 'Имя Емайл Пароль' as items %}
                                {% for text in items.split %}
                                <div class="row">
                                    <div class="d-flex">
                                        <div class="col-2">
                                            <li>{{text}}</li>
                                        </div>
                                        {% if text == 'Пароль' %}
                                        <div class="col-10"><input class="" type="password" id="pass" name="password" minlength="8" required></div>
                                        {% else %}
                                        <div class="col-10"><input class="" placeholder="" minlength="8" required></div>
                                        {% endif %}

                                        </div>

                                    </div>

                                    {% endfor %}
                                    {% endwith %}
                            </ul>
                            <button type="submit" class="btn primary-btn">{{btn_text}}</button>
                        </form>
                    </div>
                    <div class="col-2">
                        
                    </div>


                </div>

        </div>
    </div>

</body>
{% endblock %}