{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>{{title}}</title>{% endblock %}

{% block body %}

<body>

    <div class="container">

        <div class="mt-4">
            <h2 class="mb-4">{{title}}</h2>

                <div class="row">
                    

                    <div class="">
                       
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-info">

                                
                                {% for key_log, log_dict in login.items %}
                                <div class="row">
                                    {% if key_log != 'password2' %}
                                    <div class="col-md-3 col-sm-12 flexbox justify-content-start">
                                        <li>{{log_dict.title}}</li>
                                    </div>
                                    {% endif %}

                                   
                                    {% if key_log == 'name' or  key_log == 'email' or  key_log == 'password1' %}
                                    <div class="col-md-9 col-sm-12 flexbox justify-content-start pb-3">
                                        <input class="" type="{{log_dict.type}}" name='{{key_log}}' id='{{key_log}}' placeholder="" minlength="8" required>
                                    </div>
                                 
                                        
                                    {% elif key_log == 'password2'  and title == 'Регистрация' %}
                                    <div class="col-md-3 col-sm-12 flexbox justify-content-start">
                                        <li>{{log_dict.title}}</li>
                                    </div>
                                    <div class="col-md-9 col-sm-12 flexbox justify-content-start pb-3">
                                        <input class="" type="password" id="password2" name="password2" minlength="8" required>
                                    </div>

                                    {% endif %}

                                        

                                </div>

                                    {% endfor %}
                                     
                            </ul>
                            <button type="submit" class="btn primary-btn">{{btn_text}}</button>
                        </form>
                    </div>
                    <div class="col-2">
                        
                    </div>


                </div>

        </div>
    </div>

</body>
{% endblock %}