{% extends 'main/base.html' %}
{% load static %}

{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>

    <div class="container">

        <div class="mt-4">
            <h2 class="mb-4">{{title}}</h1>

                <div class="row">
                    <div class="col-2">
                        <img src="{% static 'img/girl.jpg' %}" class="" width="120px" alt="avatar">
                    </div>
                    <div class="col-10">
                        <h3>{{profile.username}}</h3>
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-info">

                                {% with 'Имя Пол Возраст Информация' as items %}
                                {% for text in items.split %}
                                <div class="row">
                                    <div class="d-flex">
                                        <div class="col-2">
                                            <li>{{text}}</li>
                                        </div>
                                        {% if text == 'Информация' %}
                                        <div class="col-10"><textarea class="" placeholder=""></textarea>
                                        {% else %}
                                        <div class="col-10"><input class="" placeholder=""></div>
                                        {% endif %}

                                        </div>

                                    </div>

                                    {% endfor %}
                                    {% endwith %}
                            </ul>
                            <button type="submit" class="btn primary-btn">Сохранить</button>
                        </form>
                    </div>



                </div>

        </div>
    </div>

</body>
{% endblock %}