{% extends 'main/base.html' %}
{% load static %}
{% load tag_library %}

{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
    <div class="flex-row bg-color-light">
        <h2 class="text-header text-end">Детали рецепта</h2>
    </div>

    <div class="container">
        <div>

            <h3>{{recipe.title}}</h3>
            
            {% if recipe.author.id == request.user.id %} 
            <div>
                <a href="{% url 'main:rec_update' pk=recipe.id %}"><i class="fa fa-regular fa-pencil-square-o"></i> Редактировать </a>
            </div>
            <div>
                <a href="#" onClick="ConfirmDialog(this);" data-rec_id="{{recipe.id}}"><i class="fa fa-regular fa-bin"></i> Удалить рецепт </a>
            </div>
            {% endif %}
            
                <p>
                {% if recipe.votes != 0 %}
                <i class="fa fa-star"> {{recipe.votes}}</i>
                {% else %} 
                <i class="fa fa-star-o empty"></i>
                {% endif %}                      
                </p>


            <p><div class="col-auto d-inline-flex"><a href="{% url 'users:user' pk=recipe.author.id %}">{{recipe.author.account.nickname}}</a></div>
             {{recipe.author.id}}
            </p>
            <p>{{recipe.date}}</p>
            <div class="pb-3">{{recipe.description|linebreaks}}</div>
        </div>
        <div class="row">

            {% for file in files %}
            <div class="col-md-6 col-sm-12 flexbox">
                <div class="product product-single w-100">
                    <div class="product-thumb h-100">
                        {% with prod_name='import/'|add:file.file %}
                        <img src="{{file.file.url}}" height="100%" alt="image">
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}