{% extends 'main/base.html' %}
{% load static %}
{% load tag_library %}

{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
    <div class="flex-row bg-color-light">
        <h2 class="text-header text-end">Детали рецепта</h2>
    </div>

    <div class="container">
        <div>

            <h3>{{recipe.title}}</h3>


            <p>
            {% if recipe.stars != 'None' %}
            {% with n=recipe.stars|to_int %}
            {% for c in 0|range:n %} 
            <i class="fa fa-star"></i>
            {% endfor %}
            {% endwith %}   
            {% endif %}                      
            </p>


            <p>{{account.nickname}} {{recipe.author.id}}</p>
            <p>{{recipe.date}}</p>
            <div class="pb-3">{{recipe.description}}</div>
        </div>
        <div class="row">

            {% for file in files %}
            <div class="col-md-6 col-sm-12 flexbox">
                <div class="product product-single w-100">
                    <div class="product-thumb h-100">
                        {% with prod_name='import/'|add:file.file %}
                        <img src="{{file.file.url}}" height="100%" alt="image">
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}