{% load static %}
{% load tag_library %}


<div class="row d-flex align-content-center justify-content-center flex-wrap">

    {% for product in products %}
    <div class="col-12 product product-single">
        <a class="row" href="{% url 'main:details' id=product.id %}">
           
            <div class="col-md-6 col-sm-12 flexbox">
               
                   
                
                
                <div class="w-75">
                    {% with img=files|get_item:product.id %}
                    <img src="{{ MEDIA_URL }}/{{img}}" alt="image">
                    {% endwith %}
                </div>
            </div>

            <div class="col-md-6 col-sm-12 flexbox bg-color-light">
                <div class="w-100 product-body position-relative ">

                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <div class="text-wrap text-break w-100">
                        <h3 class="product-price">{{product.title}}</h3>
                        <div class="w-100">{{product.description}}</div>
                    </div>

                    <div class="product-btns">
                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    </div>
                </div>

            </div>
             
        </a>

    </div>
    {% endfor %}


</div>