{% load static %}
{% load tag_library %}


<div class="row d-flex align-content-center justify-content-center flex-wrap">

    {% for recipe in recipes %}
    <div class="col-12 product product-single">
        
        <div class="row w-100">
            <a  class="col-md-6 col-sm-12 flexbox" href="{% url 'main:details' id=recipe.id %}">
             

               
                <div class="w-75">
                    {% with img=files|get_img:recipe.id %}
                    <img src="{{ MEDIA_URL }}/{{img}}" height="200px" alt="image">
                    {% endwith %}
                </div>
             
            </a>

            <div class="col-md-6 col-sm-12 flexbox bg-color-light">
                <div class="w-100 product-body position-relative ">

                    <div class="product-rating">
                        <p>
                            {% if recipe.votes != 0 %}
                                {% if liked_it %}
                                liked_it
                                {% endif %} 
                            <i class="fa fa-star"> {{recipe.votes}}</i>
            
                            {% else %} 
                            <i class="fa fa-star-o empty"></i>
                            {% endif %}   
                            </p>
                    </div>
                    <div class="text-wrap text-break w-100">
                        <a href="{% url 'main:details' id=recipe.id %}"><h3 class="product-price">{{recipe.title}}</h3></a>
                        <div class="w-100">{{recipe.description}}</div>
                    </div>

                 
                </div>

            </div>
        </div>
        

    </div>
    {% endfor %}

    {% include 'main/paginations.html' %}

</div>