{% load static %}
{% load tag_library %}

<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            
            <!-- menu nav -->
            <div class="menu-nav">
                

                <span class="menu-header">Меню <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'main:main' %}"><h3 class="mr-2 d-none d-md-inline">FOOD GOOD</h3></a>
                    </li>
                     
                    <li>
                        <a href="{% url 'main:main' %}">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'main:gallery' %}">Галерея</a>
                    </li>                

                    <li class="dropdown dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Категории

                        </a>
                        <div class="custom-menu">
                            <div class="row">


                                <ul class="list-links">
                                    {% with 'Салаты Торты Выпечка' as items %}
                                    {% for text in items.split %}
                                        <li><a href="{% url 'main:foodlist' cat_id=forloop.counter  %}">{{text}}</a></li>
                                    {% endfor %}
                                    {% endwith %}
                                </ul>
                                <hr class="hidden-md hidden-lg">


                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="{% url 'main:contacts' %}">Контакты</a>
                    </li> 

                    <li class="header-account dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            аккаунт </i>
                        </a>
                        <div class="custom-menu">
                            <div class="row">
                                <div class="list-links">
                                    <ul class="">
                                        
                                       
                                        {% if user.is_authenticated %}
                                        <li><a href="#" onClick="myRecipes();"><i class="fa fa-regular fa-arrow-circle-right"></i> Мои рецепты</a></li>
                                        <li><a href="{% url 'main:add_rec' %}"><i class="fa fa-regular fa-arrow-circle-right"></i> Добавить рецепт</a></li>
                                        <li><a href="{% url 'users:account' pk=user|get_account_id %}"><i class="fa fa-regular fa-address-book"></i> Мой профиль</a></li>
                                        <li><a href="{% url 'users:logout' %}"><i class="fa fa-regular fa-arrow-circle-right"></i> Выход</a></li>
                                        {% else %}
                                        <li><a href="{% url 'users:login' %}"><i class="fa fa-regular fa-arrow-circle-right"></i> Вход в аккаунт</a></li>
                                        <li><a href="{% url 'users:register' %}"><i class="fa fa-regular fa-user-circle-o"></i> Регистрация</a></li>
                                        {% endif %}

                                        
                                       
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </li> 
                </ul>
            </div>
            <!-- menu nav -->


        </div>
    </div>
</div>