{% extends 'main/base.html' %}


{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
    <div class="container pt-2">
        <h3 class="product-price">Топ пользователей</h3>
    <div class="flex-row align-content-center justify-content-center mt-4">

        <div class="col-lg-6 align-content-center justify-content-center text-left">
            {% for user in users_top %}
            <div clss="row d-inline-flex align-content-center justify-content-center ">
                <ul>
                    <li>
                        
                        <div class="col-auto d-inline-flex"><a href="{% url 'users:user' pk=user.id %}">{{user.account.nickname}}</a></div>
                        <!-- <div class="col-1 d-inline-flex">({{user.username}})</div> -->
                        <div class="col-4 d-inline-flex">- {{user.recipe__count}} рецепт(ов) опубликовано</div>
                       
                    </li>
                </ul>


            </div>
            {% endfor %}
        </div>
    </div>
    </div>


</body>
{% endblock %}