.links-div {
    background-color: rgb(248, 224, 181);
}

a {
    /* color: white; */
    text-decoration: none;
    outline: none;
    font-size: 18px;
}

a:hover, a:focus {
    color: rgb(192, 187, 187);
}

.list-info {
    font-size: 16pt;
}

.list-info li {
    padding-bottom: 24px;
}

.text-header {
    color: #bb5844;
}