{% extends 'recipes/base.html' %}
{% load static %}

{% block body %}
{% block title %}<title>{{title}}</title>{% endblock %}

<body>
    <div class="flex-row bg-color-light">
        <h2 class="text-header text-end">Детали рецепта</h2>
    </div>

    <div class="container">
        <div>

            <h3>{{recipe.title}}</h3>
            <p>{{recipe.author}} </p>
            <p>{{recipe.date}}</p>
            <div class="pb-3">{{recipe.description}}</div>
        </div>
        <div class="row">


        </div>
    </div>

</body>
{% endblock %}